@import 'functions';

.kvadred-max-width-percent-100 {
  max-width: 100%;
}

.kvadred-width-auto {
  width: auto;
}

@each $value in '1-1_100', '1-2_50', '1-3_33.333', '1-4_25', '1-5_20',
'1-6_16.666666', '2-3_66.666', '2-5_40', '2-6_32.332', '3-5_60', '4-6_66.668' {
  $values: str_split('#{$value}', '_');
  $width: nth($values, 2);
  $widthName: nth($values, 1);

  .kvadred-width-#{$widthName} {
    width: unquote('#{$width}%');
  }
}

@each $value in 0 {
  .kvadred-width-#{$value} {
    width: #{$value}px;
  }

  .kvadred-max-width-#{$value} {
    max-width: #{$value}px;
  }

  .kvadred-min-width-#{$value} {
    min-width: #{$value}px;
  }
}
