@import '@app/scss';

.landing-body {
  margin: 0;
  color: #ffffff;
  position: relative;
  overflow-x: hidden;
  @include bicubik;
}

.landing-main-wrapper {
  position: relative;
  background-color: #002432;
}

.landing-header {
  position: relative;
  z-index: 2;
}

.landing-hero {
  padding: $base-offset $base-offset * 2;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  width: calc(100% - 2 * $base-offset);
  height: 500px;
  align-items: center;
  position: relative;
  z-index: 2;

  &__left {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-wrap: wrap;
  }

  &__right {
    display: flex;
    width: 50%;
    height: 100%;
    position: relative;
  }

  &__subtitle {
    font-size: 16px;
    color: #FFF48B;
  }

  &__title {
    font-size: 40px;
    color: #ffffff;
    margin: 48px 0;
  }

  &__floating-blocks-wrapper {
    position: relative;
    width: 39rem;
    height: 500px;
  }

  &__floating-block {
    position: absolute;
    background-color: #ffffff;
    color: #001f2d;
    border-radius: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: $base-offset $base-offset * 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .title {
      font-size: 24px;
      margin-bottom: $base-offset * 0.5;
    }
  }

  .block-1-pos {
    position: absolute;
    top: 40%;
    left: 10%;
  }

  .block-2 {
    top: 0;
    left: 30%;
    width: 100px;
    height: 100px;
  }

  .block-3-pos {
    position: absolute;
    top: 20%;
    right: 10%;
  }

  .block-4 {
    bottom: 0;
    right: 20%;
    width: 150px;
    height: 150px;
    padding: 0;
    border-radius: 50%;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: $base-offset;

    &__left, &__right {
      width: 100%;
      overflow: hidden;
    }

    &__title {
      font-size: 32px;
      margin: 24px 0;
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 14px;
    }
  }

  @media (max-width: 624px) {
    &__title {
      font-size: 24px;
    }

    &__subtitle {
      font-size: 12px;
    }

    &__right {
      margin-left: -16px;
      margin-right: -16px;
      width: calc(100% + 32px);
    }

    .landing-button {
      width: 100%;
      font-size: 14px;
    }

    &__floating-blocks-wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      gap: 8px;
      height: auto;
      width: 100%;
      padding: 61px 8px 0 8px;
    }

    &__floating-block {
      position: relative;
    }

    .block-1-pos {
      position: relative;
      top: unset;
      left: unset;
      //margin-top: 53px;
    }


    .block-2 {
      top: unset;
      left: unset;
      width: 100px;
      height: 100px;
    }

    .block-3-pos {
      position: relative;
      top: unset;
      right: unset;
      margin-top: 45px;
      margin-bottom: 25px;
    }

    .block-4 {
      bottom: unset;
      right: unset;
      width: 150px;
      height: 150px;
      padding: 0;
      border-radius: 50%;
    }
  }
}

.landing-button {
  @include bicubik;
}

.landing-stats {
  display: flex;
  padding: $base-offset $base-offset * 2;
  margin-top: $base-offset * 2;
  position: relative;
  z-index: 2;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: row;
    gap: $base-offset;
    margin-bottom: $base-offset * 2;
  }

  &__subtitle {
    font-size: 16px;
    margin-top: 4px;
  }

  &__title {
    font-size: 40px;
  }

  &__block-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-bottom: $base-offset * 2;
  }

  &__block {
    background-color: #003042;
    width: 100%;
    min-width: 200px;
    height: 300px;
    border-radius: 10px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    & .title {
      font-weight: 600;
      font-size: 24px;
      color: #FFF48B;
    }

    & .subtitle {
      font-weight: normal;
      font-size: 16px;
      color: #fff;
    }

    & .img-wrapper {
      display: flex;
      align-items: center;
    }
  }

  @media (max-width: 1024px) {
    &__header {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: $base-offset;
      margin-bottom: $base-offset * 2;
    }

    &__subtitle {
      font-size: 16px;
      margin-top: 4px;
    }

    &__title {
      font-size: 32px;
    }

    &__block-container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      width: calc(100% + 48px);
      height: auto;
      margin-bottom: $base-offset * 2;
      overflow: hidden;
      overflow-x: scroll;
      margin-left: -32px;
      margin-right: -32px;
      padding: 8px;
    }

    &__block {
      & img {
        display: none;
      }
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    &__title {
      font-size: 24px;
    }

    &__subtitle {
      font-size: 12px;
    }
  }
}

.landing-features {
  display: flex;
  padding: $base-offset $base-offset * 2;
  margin-top: $base-offset * 2;
  position: relative;
  z-index: 2;
  flex-direction: column;
  color: #000000;

  &__header {
    display: flex;
    flex-direction: row;
    gap: $base-offset;
    margin-bottom: $base-offset * 2;
  }

  &__subtitle {
    font-size: 16px;
    margin-top: 4px;
  }

  &__title {
    font-size: 40px;
  }

  &__feature {
    display: flex;
    width: calc(100% - $base-offset * 4);
    align-items: center;
    padding: $base-offset $base-offset * 2;
    border-radius: $base-radius;
    margin-bottom: $base-offset;

    &--blue {
      background-color: #D3E4E9;
    }

    &--yellow {
      background-color: #FCF6E6;
    }

    &--left {
      display: flex;
      flex-direction: column;
      width: calc(50% - $base-offset);
      text-wrap: wrap;
    }

    &--right {
      display: flex;
      width: calc(50% - $base-offset);
      height: 100%;
      align-items: flex-end;
    }

    & .title {
      font-size: 24px;
      margin-bottom: $base-offset * 0.5;
    }

    & img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      margin: $base-offset;
      border-radius: $base-radius;
    }

    &:last-child {
      margin-bottom: $base-offset * 2;
    }
  }

  @media (max-width: 1024px) {
    &__header {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: $base-offset;
      margin-bottom: $base-offset * 2;
    }

    &__subtitle {
      font-size: 16px;
      margin-top: 4px;
    }

    &__title {
      font-size: 32px;
    }

    &__feature {
      display: flex;
      flex-direction: column;
      width: calc(100% - $base-offset * 4);
      padding: $base-offset $base-offset * 2;
      border-radius: $base-radius;
      margin-bottom: $base-offset;

      &--blue {
        background-color: #D3E4E9;
      }

      &--yellow {
        background-color: #FCF6E6;
      }

      &--left {
        display: flex;
        flex-direction: column;
        width: calc(100% - $base-offset);
        text-wrap: wrap;
      }

      &--right {
        display: flex;
        width: calc(100% - $base-offset);
        height: 100%;
        align-items: flex-end;
      }

      & .title {
        font-size: 24px;
        margin-bottom: $base-offset * 0.5;
      }

      & img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        margin: 0;
        border-radius: $base-radius;
      }

      &:last-child {
        margin-bottom: $base-offset * 2;
      }
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    &__title {
      font-size: 24px;
    }

    &__subtitle {
      font-size: 12px;
    }
  }
}

.landing-companies {
  display: flex;
  padding: $base-offset $base-offset * 2;
  margin-top: $base-offset * 2;
  position: relative;
  z-index: 2;
  flex-direction: column;
  background-color: #002432;

  &__header {
    display: flex;
    flex-direction: row;
    gap: $base-offset;
    margin: $base-offset * 2 0;
  }

  &__subtitle {
    font-size: 16px;
    margin-top: 4px;
  }

  &__title {
    font-size: 40px;
  }

  &__block-container {
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 20px;
    width: 60%;
    margin: $base-offset 0;
  }

  &__block {
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(180deg, #35FFE8, #002438);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
}

.landing-footer {
  display: flex;
  flex-direction: column;
  padding: $base-offset * 3 $base-offset * 2 $base-offset * 3 $base-offset * 2;
  background-color: #002432;

  &__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__terms {
    cursor: pointer;
  }

  &__social-wrapper {
    display: flex;
    align-items: center;
    gap: $base-offset * 0.5;
  }

  &__social-item {
    width: 2rem;
    height: 2rem;
    background-color: #003042;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.landing-divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
