@import "@app/scss";

.kvadred-block {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 100%;
  max-height: 100%;
  padding: $base-offset;
  border-radius: $base-radius;

  @for $i from 0 to 100 {
    &--width-#{$i} {
      width: $i * 1%;
    }
  }
}
