@import '@app/scss';

.menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: calc(100% - $base-offset * 2);
  width: 240px;
  background-color: #002432;
  padding: $base-offset;
  color: #fff;
  position: relative;
  transition: width 0.3s ease;

  .logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 64px;
  }

  &--collapsed {
    width: 32px;
    align-items: center;

    .menu__item {
      justify-content: center;
    }

    .menu__item > span {
      display: none;
    }

    .menu__wrapper {
      align-items: center;
    }
  }

  &__toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 8px;
    align-self: flex-start;
    z-index: 2;
  }

  &__background {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1 1 auto;
    z-index: 2;
    width: 100%;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $base-offset;
    margin-top: $base-offset * 2;
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $base-offset * 0.5;
    gap: $base-offset * 1.5;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    width: calc(100% - 16px);

    &--selected {
      border-bottom: 1px solid #FFF48B;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    display: inline-block;
  }
}
