@import '@app/scss';

.grid-table {
  display: block;
  width: 100%;
  //overflow: hidden;
  font-size: $base-font-size;
}

.grid-row {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 2fr auto;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
  background-color: #F6F8F7;

  &--parent {
    cursor: pointer;
  }

  &--child {
    margin-left: $base-offset * 1.5;
  }
}

.grid-cell {
  padding: 10px;
  color: #969897;

  &--toggle {
    text-align: center;
    cursor: pointer;
  }

  &--bold {
    font-weight: bold;
    color: #323D3D;
  }
}
