@import '@app/scss';

.table {
  display: table;
  width: 100%;
  font-size: $base-font-size;
  border-collapse: collapse;

  &__tr {
    display: table-row;
    border: 2px solid #edecec;

    &--child {
      td:first-child {
        padding-left: 48px;
      }

      th:first-child {
        padding-left: 48px;
      }

      td, th {
        background-color: #f6f6f6;
      }
    }

    td, th {
      padding: $base-offset * 0.5 $base-offset;
    }

    th {
      text-align: left;
      font-weight: normal;
    }
  }
}
