@import '@app/scss';

.page-title {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;

    &__title {
        @include pridi;
        font-size: 56px;
        margin-bottom: -16px;
        text-transform: uppercase;
        color: $base-red;
    }

    &__subtitle {
        @include montserrat;
        font-size: 32px;
        font-weight: bold;
        color: $base-blue;
    }
}
