@import '@app/scss';

.company-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  &__link {
    display: flex;
    flex-direction: row;
    gap: 4px;
    @include roboto;
    font-size: 10px;
    color: #4598FF;
    fill: #4598FF;
    text-decoration: none;
  }

  &__best-in {
    display: flex;
    flex-direction: row;
    gap: 4px;
    @include roboto;
    font-size: 14px;
    color: $base-red;
    fill: $base-red;
    text-decoration: none;
    justify-content: center;
  }
}

.company {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: $base-font-size;

  &__logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #173C47;

    & img {
      width: 36px;
      height: 36px;
      object-fit: scale-down;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & .main {
      font-weight: bold;
      color: #2C4F57;
    }
  }

  &__right-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: end;
  }
}
