@import "@app/scss";

.header {
  @include bicubik;
  font-size: 32px;
  width: calc(100% - $base-offset * 4);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: $base-offset $base-offset * 2;
  background-color: #002432;
  color: #FFFFFF;
  fill: #ffffff;

  &__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: $base-offset * 3;
  }

  &__item {
    font-size: $base-font-size;
    text-decoration: none;
    padding: 4px 0;
    color: #ffffff;
    fill: #ffffff;

    &--current {
      color: #fff;
      border-bottom: 1px solid #FFF48B;
    }
  }
}
