.circular-chart {
  text-align: center;
}

.chart-label {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}

.chart-label-postfix {
  font-size: 12px;
  color: #1b3a47;
  margin-top: 2px;
  font-weight: 600;
}

svg {
  display: block;
}
